version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    image: deepamrutkar2943/mean-tutorials-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    image: deepamrutkar2943/mean-tutorials-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data:
